body {
  background-image: linear-gradient(180deg, blue, white);
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  display: block;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

.container {
  margin: auto;
  margin-top: 300px;
  width: 500px;
  border: 1px solid black;
}

.container_log {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

form {
  margin: auto;
}

#logowanie {
margin: auto;
}

input {
  width: 140px;
}

.submit {
  margin-top: 10px;
}

.submit:hover {
  background-color: grey;
}
